
header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
    font-size: 24px;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-right: 180px;
    padding-left: 190px;
}

#title {
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    color: #F9FAF8;
}

.dark-blue {
    background-color: #1F2937;
    color: #F9FAF8;
    width: 100%;
    font-size: 28px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 50px;
    align-items: center;
    align-content: center;
}


button {
    background-color: #3882F6;
    max-width: 100px;
    border: 0px;
    padding: 5px;
    color: #F9FAF8;
    border-radius: 15px;
}

.container2 {
    display: flex;
    justify-content: center;
    margin: 50px;
    text-align: center;
    color: grey;
    align-items: center;
    padding-bottom: 50px;
}

.info {
    max-width: 250px;
}

.text {
    display: flex;
    align-content: center;
    justify-content: center;
}

.container2 img {
    display: flex;
    max-width: 200px;
    justify-content: center;
}


.random {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
}

img {
    max-width: 350px;
    max-height: 250px;
    display: flex;
    margin-right: 200px;
    margin-top: 50px;
    margin-left: 20px;
    border: 5px solid white;
}

.group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 200px;
    padding-right: 50px;
}

.aboutdogs {
    font-size: 48px;
    font-weight: bold;
}

.thebest {
    font-size: 22px;
    padding-bottom: 10px;
}


.grey {
    background-color: #E5E7Eb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
}

.author {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 100px;
}

.blue-box {
    background-color: #3882F6;
    border-radius: 10px;
    margin: 150px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.boxtext {
    margin: 30px;
    display: flex;
    color: #E5E7Eb;
    flex-wrap: wrap;
    flex-direction: column;
}

#call {
    font-size: 30px;
    font-weight: bold;
}

.button2 {
    border: 1px solid;
    border-color: #E5E7Eb;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
}