

header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
    width: 100%;
    font-size: 24px;

}

a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 18px;
    color: #F9FAF8;
}

.dark-blue {
    background-color: #1F2937;
    color: #F9FAF8;
    width: 100%;
    font-size: 28px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

button {
    background-color: #3882F6;
    max-width: 100px;
    border: 0px;
    padding: 5px;
    color: #F9FAF8;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.white {

}

img {
    max-width: 350px;
    max-height: 250px;
    display: flex;
    margin: 200px;
}

.group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 100px;
}